 /*
   ____           _                _   _               _     _                       
  / ___|_   _ ___| |_ __ ___   __ | \ | | ___  _ __ __| |___| |_ _ __ ___  _ __ ___  
 | |  _| | | / __| __/ _` \ \ / / |  \| |/ _ \| '__/ _` / __| __| '__/ _ \| '_ ` _ \ 
 | |_| | |_| \__ | || (_| |\ V /  | |\  | (_) | | | (_| \__ | |_| | | (_) | | | | | |
  \____|\__,_|___/\__\__,_| \_/   |_| \_|\___/|_|  \__,_|___/\__|_|  \___/|_| |_| |_|
*/                                                                                  

.scheduleList :-webkit-scrollbar {
    display: none;
}

.view-title {
    text-align: center;
    font-size: 28px;
}

/* Only value changing */
.scheduleList {
  overflow: auto;
  height: 608px;
}

#table-header {
  background-color: rgb(187, 0, 0);
}

#teamName {
  text-align: center;
}

@media screen and (min-width: 1020px) {
    .scheduleList {
        overflow: auto;
        height: 607px;
    }   
}
@media screen and (min-width: 1200px) {
    .scheduleList {
        overflow: auto;
        height: 607px;
    }   
}