.footerbox {
  color: white;
  text-align: center;
  padding: 5px 5px;
  height: 70px;
  border-bottom: 10px solid #2d2c2c;
}

.icons {
  padding: 4px;
}

.footerbox a:focus {
  text-decoration: none;
}
#footerName {
  color: steelblue;
  text-decoration: none;
}
.icon {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.icon a {
    color: white;
}
.icon a:hover {
    color: steelblue;
}